footer.footer
  .footer__header
    .footer__img-box
      img.footer__img.an-i.an-s.an-scaleimg(src="../img/nigas-girl.jpg", alt="nigas girl")
    .footer__info-box
      .footer__column.an-i.an-s.an-title
        h3.footer__column-title.text.text_7n.text_14 SOME INFO
        p.footer__column-paragraph.text.text_4n.text_14 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.
      .footer__vertical-line
      .footer__column.an-i.an-s.an-title
        h3.footer__column-title.text.text_7n.text_14 ENFOLD HEALTH
        p.footer__column-paragraph.text.text_4n.text_14 Main Street 1, Olcott Buffalo, United States
        a.footer__phone.text.text_4n.text_14(href="tel:+555283784333") +555 283 784 333<br>
        a.footer__mail.text.text_4n.text_14(href="tomail:office@enfold-health.com") office@enfold-health.com
      .footer__vertical-line
      .footer__column.an-i.an-s.an-title
        h3.footer__column-title.text.text_7n.text_14 OFFICE HOURS
        p.footer__column-paragraph.text.text_4n.text_14 Mo-Fr: 8:00-19:00<br>Sa: 8:00-14:00<br>Su: closed
  .footer__copyright
    span.footer__copyright-badge.text.text_5n.text_14 ©
    span.footer__copyright-text.text.text_5n.text_14 Copyright - ThriveTalk  2017