header.header
  a#header.header__logo-link(href="#")
    img.header__logo-image(src="../img/logo.png", alt="logo")
  nav.header__nav
    ul.header__nav-list
      li.header__nav-item.header__nav-item_active
        a.header__nav-link.text.text_5n.text_14(href="#") Home
      li.header__nav-item
        a.header__nav-link.text.text_5n.text_14(href="#") About
      li.header__nav-item
        a.header__nav-link.text.text_5n.text_14(href="#") Services
      li.header__nav-item
        a.header__nav-link.text.text_5n.text_14(href="#") Blog
  a.header__feedback-btn.text.text_7n.text_14(href="#popup-feedback") CONTACT US
  button.header__burger
    span 