section.main__about-us.about-us
  .about-us__text-box
    h2.about-us__title.text.text_5n.text_16.an-i.an-s.an-title ABOUT US
    p.about-us__text.text.text_5n.text_24.
      We want to help you thrive! Whether you are just looking for someone to talk to, or are struggling with a mental wellness issue we’re here to help.  Our highly talented therapists can help you with a range of issues including relationships, sex, PTSD, depression, social anxiety, or even just caring for yourself more.
    p.about-us__pointer.text.text_4n.text_16 WE CAN HELP YOU WITH
  .about-us__colors
    .about-us__color-box.color-box.an-i.an-s.an-color-box
      a.color-box__link(href="#")
        h3.color-box__item.text.text_7n.text_32 Weight Lifting
    .about-us__color-box.color-box.color-box_lime.an-i.an-s.an-color-box
      a.color-box__link(href="#")
        h3.color-box__item.text.text_7n.text_32 Running & Spinning
    .about-us__color-box.color-box.color-box_skyblue.an-i.an-s.an-color-box
      a.color-box__link(href="#")
        h3.color-box__item.text.text_7n.text_32 Pumping Iron
    .about-us__color-box.color-box.color-box_blue.an-i.an-s.an-color-box
      a.color-box__link(href="#")
        h3.color-box__item.text.text_7n.text_32 Pumping Iron