section.main__contact-us.contact-us
  .contact-us__info-box
    h3.contact-us__title.text.text_4n.text_16.an-i.an-s.an-title CONTACT US
    h4.contact-us__subtitle.text.text_7n.text_64
      span.contact-us__subtitle-el.an-i.an-s.an-subtitle-el Ready.
      span.contact-us__subtitle-el.an-i.an-s.an-subtitle-el &nbsp;Set.
      span.contact-us__subtitle-el.an-i.an-s.an-subtitle-el &nbsp;Smile
    p.contact-us__text.text.text_4n.text_36.
      Take the free online assessment to see if you are a candidate and get started on your journey.
    a.contact-us__get-help.text.text_5n.text_16(href="#") GET HELP NOW
  .contact-us__img-box
    img.contact-us__img.an-i.an-s.an-scaleimg(src="../img/glad-niga.jpg", alt="smile guys")