section.main__facts.facts
  .facts__card.an-i.an-s.an-opacity
    h3.facts__title.text.text_5n.text_28 Nutritional Plans
    p.facts__text.text.text_3n.text_16 Nutritional Facts on some shitty things that you don’t care about and even we don’t , I need to replace this copy.
  .facts__card.an-i.an-s.an-opacity
    h3.facts__title.text.text_5n.text_28 Weight Loss
    p.facts__text.text.text_3n.text_16 Nutritional Facts on some shitty things that you don’t care about and even we don’t , I need to replace this copy.
  .facts__card.an-i.an-s.an-opacity
    h3.facts__title.text.text_5n.text_28 Mental Peace
    p.facts__text.text.text_3n.text_16 Nutritional Facts on some shitty things that you don’t care about and even we don’t , I need to replace this copy.
  .facts__card.an-i.an-s.an-opacity
    h3.facts__title.text.text_5n.text_28 Home Training
    p.facts__text.text.text_3n.text_16 Nutritional Facts on some shitty things that you don’t care about and even we don’t , I need to replace this copy.
  .facts__card.an-i.an-s.an-opacity
    h3.facts__title.text.text_5n.text_28 Work/Life Balance
    p.facts__text.text.text_3n.text_16 Nutritional Facts on some shitty things that you don’t care about and even we don’t , I need to replace this copy.
  .facts__card.an-i.an-s.an-opacity
    h3.facts__title.text.text_5n.text_28 Cardio
    p.facts__text.text.text_3n.text_16 Nutritional Facts on some shitty things that you don’t care about and even we don’t , I need to replace this copy.