section.main__first.first
  .first__box
    h1.first__header.text.text_5n.text_23 Thrivetalk
    h2.first__title.text.text_7n.text_47.an-i.an-s.an-title.
      HELPING YOU THRIVE <br>
      IN ALL AREAS OF LIFE
    p.first__description.
      Our highly talented therapists can help you with a range of issues including relationships, sex, PTSD, depression, social anxiety, or even just caring for yourself more.
    a.first__whoami.text.text_5n.text_16(href="#") WHO AM I
    a.first__whatdoido.text.text_5n.text_16(href="#") WHAT DO I DO
  .first__ellipse.first__ellipse_blue
  .first__ellipse.first__ellipse_img
    img.first__ellipse-inner(src="./img/sad-niga.jpg", alt="sad niga")