section.main__should-know.should-know
  .should-know__img-box
    img.should-know__img.an-i.an-s.an-scaleimg(src="../img/smile-guys.jpg", alt="smile guys")
  .should-know__info-box
    h3.should-know__title.text.text_4n.text_16.an-i.an-s.an-title YOU SHOULD ALSO KNOW
    p.should-know__text.text.text_7n.text_36.
      MDD affects more than 16.1 million American adults, or about 6.7%of the U.S. population age 18 and older in a given year. We at
      #[span.should-know__text_accent &nbsp;ThriveTalk&nbsp;]
      can help you.
    a.should-know__get-help.text.text_5n.text_16(href="#") GET HELP NOW