section.main__tile.tile
  .tile__colors
    .tile__color-box.color-box.color-box_darkblue.an-i.an-s.an-color-box
      a.color-box__link(href="#")
        h3.color-box__item.text.text_7n.text_32 Physical<br>Health
    .tile__color-box.color-box.color-box_blue.an-i.an-s.an-color-box
      a.color-box__link(href="#")
        h3.color-box__item.text.text_7n.text_32 Mental<br>Health
    .tile__color-box.color-box.color-box_img.an-i.an-s.an-color-box
      img.color-box__main-img(src="./img/berrytable.jpg", alt="notrition")
      img.color-box__additional-img.whirligig(src="./img/berrycup.png", alt="notrition")
      a.color-box__link(href="#")
        h3.color-box__item.text.text_7n.text_32 Nutrition
    .tile__color-box.color-box.color-box_skyblue.an-i.an-s.an-color-box
      a.color-box__link(href="#")
        h3.color-box__item.text.text_7n.text_32 Gymnastics
    .tile__color-box.color-box.color-box_lilac.an-i.an-s.an-color-box
      a.color-box__link(href="#")
        h3.color-box__item.text.text_7n.text_32 Crossfit
    .tile__color-box.color-box.color-box_violet.an-i.an-s.an-color-box
      a.color-box__link(href="#")
        h3.color-box__item.text.text_7n.text_32 Aerobics