section.main__why-thrive.why-thrive
  .why-thrive__info-box
    h2.why-thrive__title.text.text_5n.text_36.an-i.an-s.an-title Why Thrive?
    p.why-thrive__text.text.text_4n.text_20
        span.why-thrive__text-bold.text.text_5n.text_24.
          Want to improve your well-being from the comfort of your own couch? Are you having trouble finding the right therapist?
        | &nbsp; Here at ThriveTalk, our licensed therapists provide the same quality care you would get in office from anywhere you can access your laptop or mobile phone. Become your best self with ThriveTalk.  Start therapy now with a licensed therapist!
  .why-thrive__img-box
    img.why-thrive__img.an-i.an-s.an-scaleimg(src="./img/top-girl.jpg", alt="top girl")