/* why-thrive */
.why-thrive {
  display: flex;

  overflow: hidden;
  background-color: $skyBlue;
  
  color: $white;
  &__info-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 63.6%;
    padding: 155px 12.5% 0px 12.4%;
  }
  &__title {
    margin: 0;
  }
  &__text {
    margin-top: 80px;
    margin-bottom: 0;
    line-height: 1.63;
  }
  &__text-bold {
    letter-spacing: 0.19px;
  }
  &__img-box {
    flex: 1 1 36.4%;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@include media-laptop {
  .why-thrive {
    &__info-box {
      padding: 100px 6% 40px 6%;
    }
  }
}

@include media-tablet-horizontal {
  .why-thrive {
    &__text {
      margin-top: 40px;
    }
    &__img {
      object-position: left;
    }
  }
}

@include media-tablet {
  .why-thrive {
    position: relative;
    &__info-box {
      position: absolute;
      z-index: 1;
      padding: 30px 6% 10px 6%;
      width: 100%;
      height: 100%;
      background-color: $skyBlueO;
    }
    &__text {
      margin-top: 40px;
    }
    &__img-box {
      flex: 1 0 100%;
      height: 50vh;
    }
    &__img {
      object-position: left;
    }
  }
}

@include media-mobile {
  .why-thrive {
    &__info-box {
      padding-bottom: 40px;
    }
    &__text {
      margin-top: 30px;
      font-size: 20px;
    }
    &__text-bold {
      font-size: 20px;
    }
  }
}

@include media-custom(400px) {
  .why-thrive {
    &__info-box {
      padding-bottom: 20px;
    }

    &__text {
      font-size: 16px;
    }
    &__text-bold {
      font-size: 16px;
    }
    &__img-box {
      height: auto;
    }
  }
}