extends common/layout

block content
  main.main
    include includes/index/first
    include includes/index/why-thrive
    include includes/index/about-us
    include includes/index/tile
    include includes/index/facts
    include includes/index/should-know
    include includes/index/contact-us