// Mobile first
$mediaWidthMobile: 480px;
$mediaWidthTablet: 767px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

// Colors
$lightBlue: #EDFDFF;
$lilac: #DEE1FF;
$lilacO: rgba(222, 225, 255, 0.8);
$violet: #8F00FF;
$skyBlue: #62D0DF;
$skyBlueO: rgba(98, 209, 223, 0.7);
$blue: #0052C1;
$linkBlue :#006DFF;
$darkBlue: #22356F;
$darkBlueO: rgba(34, 53, 111, 0.7);
$lime: #C4E769;
$orange: #F9B640;
$lightOrange:#E9B730;
$creamPink: #FFE2DE;
$cream: #F4F9E2;
$white: #ffffff;
$black: #000000;